# Exclude all files
/*     

!/.gitignore

# Override exclude, whitelist
!/sym/
!/sub/

!/resources/
!/source/

!/CMakeLists.txt
!/TCLib.exe
!/TCLib

# Exclude files inside directory
/sym/*
/sub/*


# # Override exclude, whitelist. TCLib only.
!/sym/TCLib/
!/sub/TCLib/

!/sym/res.asy
!/sym/res_spring.asy
!/sym/cap.asy
!/sym/ind.asy
!/sym/voltage2.asy
# overrides the ugly spring shaped resistor
