/*     # Exclude all files
!/.gitignore

# Override exclude, whitelist
!/sym/
!/sub/
#!/cmp/ #Esto se actualiza cada tanto y creo que pisa los componentes dejar comentado

# Exclude files inside directory
/sym/*
/sub/*


# # Override exclude, whitelist. TCLib only.
!/sym/TCLib/
!/sub/TCLib/