# Exclude all files
/*     

!/.gitignore

# Override exclude, whitelist
!/sym/
!/sub/
!/cmp/

# Exclude files inside directory
/sym/*
/sub/*


# # Override exclude, whitelist. TCLib only.
!/sym/TCLib/
!/sub/TCLib/
!/sym/res.asy 

# overrides the ugly spring shaped resistor